@font-face {  
	font-family: 'MyCustomFont'; 

	src: url('..//../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('woff2');

	font-weight: normal; 
	font-style: normal;     
}  
* {
	box-sizing: border-box;
	font-family: 'MyCustomFont';
	font-size: 16px;

}

.Main_container {
	background-color: hsla(160, 100%, 75%, 0.178);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Main_container .calc_cont {
	background-color: white;
	height: 90vh;
	width: 70vw;
	box-shadow: 1px 1px 5px rgb(183, 180, 180);
	border-radius: 10px;
	display: flex;
	overflow: hidden;
}

.Main_container .calc_cont .leftPart {
	background-color: white;
	height: 90vh;
	width: 35vw;
}

.Main_container .calc_cont .rightPart {
	background-color: hsla(206, 43%, 18%, 0.985);
	height: 90vh;
	width: 35vw;
	border-bottom-left-radius: 50px;
	color: white;
}